.img{
    width: 300px;
    height: 225px;
}
.card-container{
    /* border: 2px solid black; */
    margin:  1.6rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    width: 387px !important;
}
.card{
    margin: 1rem;
}
.name-product{
    font-size: 2em;
}
.price-product{
    font-size: 1.9em;
}
.img{
    width: 300;
    height: 225;
}
.card-footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemDetail-btn{
    font-size: 1.5em;
    width: 9rem;
    justify-self: end;
    
}