.itemDetailContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);

}
.info > h3{
    font-size: 1.5em;
    font-weight: 700;
}
.info > h4 {
    font-size: 1.2em;
    font-weight: 600;
}
.itemDetail{
    display: flex;
    align-items: center;
}
.img-container > img{
    width: 55rem;
}
.itemDetail > div{
    width: 50rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}